<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EMD Index Template</title>
</head>

<body>
    <h1>Exames Médicos Desportivos</h1>

    <h2>Distribuição por modalidade em cada ano e no total</h2>

    {% for year in years -%}
    <h3><a href="query{{ query }}{{ year }}.html">{{ year }}</a></h3>
    {% endfor -%}

    <h2>TOTAL</h2>

    {% for sport, records in total.items() -%}
    <h3>{{ sport }}</h3>
    <ul>
        {% for r in records-%}
        <li><a href="records.html#{{ query }}{{ r.id }}">{{ r.firstname }} {{ r.lastname }}</a></li>
        {% endfor -%}
    </ul>
    {% endfor -%}
</body>
</html>