<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EMD Index Template</title>
</head>

<body>
    <h1>Exames Médicos Desportivos</h1>

    <h2>Distribuição por género em cada ano e no total</h2>

    Picture

    {% for year in years -%}
    <h3><a href="queryb{{ year }}.html">{{ year }}</a></h3>
    {% endfor -%}

    <h3>TOTAL</h3>

    <h3>Mulheres</h3>
    <ul>
    {% for r in total.F-%}
        <li><a href="records.html#{{ r.id }}">{{ r.firstname }} {{ r.lastname }}</a></li>
    {% endfor -%}
    </ul>

    <h3>Homens</h3>
    <ul>
    {% for r in total.M-%}
        <li><a href="records.html#{{ r.id }}">{{ r.firstname }} {{ r.lastname }}</a></li>
    {% endfor -%}
    </ul>
</body>
</html>