<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EMD Index Template</title>
</head>

<body>
    <h1>Exames Médicos Desportivos</h1>

    {% if query == 'b' -%}
    <h2>Distribuição por género em
    {%- elif query == 'c' -%}
    <h2>Distribuição por modalidade em
    {%- elif query == 'f' -%}
    <h2>Distribuição por estatuto de federado em
    {%- elif query == 'g' -%}
    <h2>Percentagem de aptos e não aptos em
    {% endif %} {{ year }}</h2>

    <img src="resources/plot{{ query }}{{ year }}.png" alt="">

    {% for i, records in item.items() -%}
    <h3>{{ i }}: {{ records|length }} - {{ (records|length / size * 100)|round(2) }}%</h3>
        <ul>
            {% for r in records-%}
            <li><a href="records.html#{{ r.id }}">{{ r.firstname }} {{ r.lastname }}</a></li>
            {% endfor -%}
        </ul>
    {% endfor -%}
</body>
</html>