<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EMD Index Template</title>
</head>

<body>
    <h1>Exames Médicos Desportivos</h1>

    <h2>Distribuição por género em {{ year }}</h2>

    Picture

    <h3>Mulheres</h3>
        <ul>
        {% for r in gender.F-%}
            <li><a href="records.html#{{ r.id }}">{{ r.firstname }} {{ r.lastname }}</a></li>
        {% endfor -%}
        </ul>

    <h3>Homens</h3>
        <ul>
        {% for r in gender.M-%}
            <li><a href="records.html#{{ r.id }}">{{ r.firstname }} {{ r.lastname }}</a></li>
        {% endfor -%}
        </ul>
</body>
</html>